.at-animations {
    &--bounce {
        animation: at-bounce 250ms forwards;
    }

    &--slide-in-left {
        animation: at-bounce-in-top 250ms forwards;
    }
}

@keyframes at-bounce {
    0% { 
        transform: scale(0.95);
    }

    50% { 
        transform: scale(1.05);
    }

    100% { 
        transform: scale(1.0);
    }
}

@keyframes at-bounce-in-top {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
    }
}
