.at-animations {
    &--bounce {
        animation: at-bounce 250ms forwards;
    }
}

@keyframes at-bounce {
    0% { 
        transform: scale(0.95);
        opacity: .6;
    }

    50% { 
        transform: scale(1.05);
        opacity: .8;
    }

    100% { 
        transform: scale(1.0);
        opacity: 1;
    }
}
