.at-context-menu {
    display: none;
    list-style: none;
    margin: 0;
    max-width: 250px;
    min-width: 200px;
    padding: 0;
    position: fixed;
    user-select: none;
    background-color: $color-gray-light;
    box-shadow: $box-shadow-mid;
    text-shadow: $text-shadow-light;
    border-radius: $border-radius;
    font-size: .875rem;
  
    &__item {
        padding: .563rem .875rem .563rem .5rem;
        cursor: pointer;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $color-gray-dark;
        display: flex;
        align-items: center;
        margin: .25rem;
        border-radius: $border-radius;
        transition: background-color 100ms ease-in-out;
  
        &:hover,
        &:focus {
            background-color: $color-blue-light;
            color: $color-blue-dark;
        }
    }

    &__icon {
        display: flex;
        padding-right: .625rem;
        margin: 0;
        filter: $drop-shadow-filter-light;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &--show {
        display: block;
    }
}
