.at-menu {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: calc(100% - 2rem);
    overflow: auto;
    transform: translateY(calc(-100% - 1rem));
    animation: at-bounce-in-top 400ms forwards 200ms;

    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }

    &__item {
        margin-left: .5rem;

        &:first-child{
            margin: 0;
        }
    }

    &__icon {
        filter: $drop-shadow-filter-light;
    }
}
